.header__link,
.header__link_new,
.header__link_new_active,
.header__link_new_active_open,
.header__link_new_open {
    font-size: 18px;
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
    font-weight: 500;
    user-select: none;
}

.header__link_new img {
    position: absolute;
    top: 15px;
}

.header__link_new_active,
.header__link_new_active_open {
    border-bottom: 3px solid #FFF;
    margin-bottom: -3px;
}

.link__main {
    width: 50%;
    position: absolute;
    top: calc(80px);
    min-height: 270px;
    right: 15%;
    background: #f1f1f1;
    color: black;
    padding: 30px 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    row-gap: 50px;
}

.link__box {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 17px;
    font-weight: 500;
    color: black;
    text-decoration: none;
    cursor: pointer;
    padding-bottom: 20px;
}

.link__title:hover,
.link__title_new:hover {
    background: #e5e3e3;
}

.link__title,
.link__title_new {
    /*padding-top: 5px;*/
    padding-left: 5px;
    font-size: 18px;
    padding-right: 5px;
}

.link__title {
    width: 40%;
}

.link__title_new {
    width: 100%;
}

.link__box_p {
    width: 60%;
    font-size: 16px;
    font-weight: 100;
    color: gray;
    padding-left: 5px;
    border-left: 1px solid gray;
}

.link__box__mini {
    width: 40%;
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
    color: black;
    text-decoration: none;
    cursor: pointer;
    position: relative;
}

.link__box__mini img {
    position: absolute;
    left: -13px;
    top: -5px;
}

.new__icon {
    height: 18px;
    width: 18px;
}

.new__icon_middle {
    height: 18px;
    width: 18px;
}

@media (max-width: 1400px) {
    .link__title,
    .link__title_new {
        font-size: 16px;
    }

    .link__box_p {
        font-size: 14px;
    }
}

@media (max-width: 1200px) {
    .header__link,
    .header__link_new,
    .header__link_new_active,
    .header__link_new_active_open,
    .header__link_new_open {
        font-size: 16px;
    }

    .new__icon_middle {
        height: 16px;
        width: 16px;
    }
}
