.leader__bord_wrap {
    width: 100%;
    padding: 70px 0;
    background-color: #F1F1F1;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
}

.leader__title {
    font-weight: 500;
    font-size: 34px;
    border-bottom: 4px solid;
    padding-bottom: 10px;
    margin-bottom: 30px;
    border-image: linear-gradient(213deg, #00DBDE 0%, #FC00FF 100%);
    border-image-slice: 1;
}

.leader__wrap {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.leader__block,
.leader__header {
    padding: 0 20px;
    height: 50px;
    width: 100%;
    column-gap: 25px;
    background-color: #fff;
    display: flex;
    align-items: center;
    border-bottom: 2px solid black;
    font-size: 24px;
}


.leader__header {
    background-color: #000;
    color: white;
}

/*
.leader__block:nth-child(2n) {
    background-color: #F1F1F1;
}
*/

.leader__block:last-child {
    border: none;
}


.leader__name {
    flex-grow: 1;
}

.position {
    width: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.leader__rating {
    width: 30%;
}


.pedestal__img {
    height: 90%;
}


.pagination__wrap {
    width: 100%;
    display: flex;
    justify-content: center;
}

.pagination__block {
    display: flex;
    align-items: center;
    font-size: 30px;
    column-gap: 10px;
}

.arrow__left,
.arrow__right {
    height: 25px;
    cursor: pointer;
}

.arrow__right {
    transform: rotate(180deg);
}

.search__user_form {
    width: 70%;
}

.search__user_input {
    height: 40px;
    padding: 0 15px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
}



@media (max-width: 1000px) {
    .leader__bord_wrap {
        padding: 30px 0;
        row-gap: 15px;
    }

    .leader__wrap,
    .search__user_form {
        width: 85%;
    }
}

@media (max-width: 767px) {
    .leader__title {
        font-size: 28px;
    }

    .leader__block,
    .leader__header {
        font-size: 20px;
        height: 40px;
    }
}

@media (max-width: 600px) {
    .leader__wrap,
    .search__user_form {
        width: 95%;
    }

    .leader__block,
    .leader__header {
        font-size: 16px;
    }

    .leader__rating {
        width: 20%;
    }

    .pagination__block {
        font-size: 20px;
    }

    .arrow__left,
    .arrow__right {
        height: 15px;
    }
}

@media (max-width: 439px) {
    .leader__block,
    .leader__header {
        font-size: 12px;
        height: 30px;
        padding: 0 10px;
    }

    .search__user_input {
        height: 30px;
        padding: 0 5px;
        font-size: 12px;
    }

    .leader__bord_wrap {
        padding: 30px 0;
        row-gap: 10px;
    }
}