.leader__bord_wrap {
    width: 100%;
    padding: 70px 0;
    background-color: #F1F1F1;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
}

.leader__wrap {
    width: 70%;
    display: flex;
    flex-direction: column;
    height: 640px;
}

.leader__block,
.payment__leader_block,
.leader__header {
    padding: 0 20px;
    height: 40px;
    width: 100%;
    column-gap: 25px;
    background-color: #fff;
    display: flex;
    align-items: center;
    border-bottom: 2px solid black;
    font-size: 20px;
}

.payment__leader_block,
.leader__block {
    cursor: pointer;
}

.payment__leader_block {
    background: linear-gradient(73.25deg, rgba(255, 214, 0, 0.61) 1.44%, rgba(255, 214, 0, 0.25) 48.24%, rgba(255, 214, 0, 0) 98.46%);
}


.rank__img {
    height: 35px;
}

.leader__header {
    background-color: #000;
    color: white;
}


.leader__block:last-child {
    border: none;
}

.leader__name {
    width: 60%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.position {
    width: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.leader__rating {
    width: 10%;
}

.leader__rank {
    width: 10%;
    display: flex;
    align-items: center;
}


.pedestal__img {
    height: 90%;
}


.pagination__wrap {
    width: 100%;
    display: flex;
    justify-content: center;
}

.pagination__block {
    display: flex;
    align-items: center;
    font-size: 30px;
    column-gap: 10px;
}

.arrow__left,
.arrow__right {
    height: 25px;
    cursor: pointer;
}

.arrow__right {
    transform: rotate(180deg);
}

.search__user_form {
    width: 70%;
}

.search__user_input {
    height: 40px;
    padding: 0 15px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
}


@media (max-width: 1000px) {
    .leader__bord_wrap {
        padding: 30px 0;
        row-gap: 15px;
    }

    .leader__wrap,
    .search__user_form {
        width: 85%;
    }

    .leader__rating {
        width: 15%;
    }

    .leader__rank {
        width: 20%;
    }

    .leader__name {
        width: 30%;
    }
}

@media (max-width: 767px) {
    .leader__block,
    .payment__leader_block,
    .leader__header {
        column-gap: 10px;
    }

    .leader__title {
        font-size: 28px;
    }

    .leader__block,
    .payment__leader_block,
    .leader__header {
        font-size: 18px;
        height: 36px;
    }

    .leader__wrap {
        height: 584px;
    }

    .rank__img {
        height: 28px;
    }
}

@media (max-width: 600px) {
    .leader__wrap,
    .search__user_form {
        width: 95%;
    }

    .leader__block,
    .payment__leader_block,
    .leader__header {
        font-size: 16px;
    }

    .leader__rating {
        width: 20%;
    }

    .pagination__block {
        font-size: 20px;
    }

    .arrow__left,
    .arrow__right {
        height: 15px;
    }
}

@media (max-width: 439px) {
    .leader__block,
    .payment__leader_block,
    .leader__header {
        font-size: 10px;
        height: 24px;
        padding: 0 10px;
    }

    .leader__wrap {
        height: 384px;
    }

    .search__user_input {
        height: 30px;
        padding: 0 5px;
        font-size: 12px;
    }

    .leader__bord_wrap {
        padding: 30px 0;
        row-gap: 10px;
    }

    .rank__img {
        height: 16px;
    }
}
