.donation__page {
    display: flex;
    justify-content: space-between;
    background: url("../../images/mainBg.png") no-repeat center / cover;
    min-height: calc(100vh - 80px);
    overflow: hidden;
}

.logo__wrap {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 30px;
}

.skilliant__logo {
    width: 60%;
}

.skilliant__description {
    color: #FFFFFF;
    font-size: 40px;
    width: 80%;
    text-align: center;
}

.donation__content {
    width: 50%;
    min-height: calc(100vh - 80px);
    padding: 0 40px;
    background-color: #fff;
    box-shadow: 0 0 15px 3px #323232;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 40px;
}

.donation__subtitle {
    font-size: 30px;
    width: 80%;
    text-align: center;
}


@media (max-width: 1200px) {
    .donation__title {
        font-size: 34px;
    }

    .donation__subtitle {
        width: 100%;
        font-size: 26px;
    }

    .skilliant__logo {
        width: 80%;
    }

    .skilliant__description {
        font-size: 34px;
        width: 90%;
    }
}


@media (max-width: 767px) {
    .donation__page {
        flex-direction: column;
        min-height: calc(100vh - 60px);

    }

    .logo__wrap,
    .donation__content {
        min-height: fit-content;
        padding: 40px 20px;
        width: 100%;
    }

    .donation__content {
        flex-grow: 1;
    }

}

@media (max-width: 500px) {
    .skilliant__description {
        font-size: 26px;
    }

    .donation__subtitle {
        font-size: 20px;
    }
}