.test__block {
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .2s linear;
    color: black;
    row-gap: 15px;
    text-decoration: none;
    box-shadow: 5px 5px 15px 5px rgba(175, 175, 175, 0.56);
}

.test__block:hover {
    box-shadow: 5px 5px 15px 5px rgba(175, 175, 175, 0.9);
    transition: all .2s linear;
}

.test__block:last-child {
    border-bottom: none;
}

.test__name {
    font-size: 24px;
    font-weight: 600;
}

.test__left {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.test__difficult {
    font-size: 18px;
}

.test__rating {
    font-size: 16px;
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.test__rating img {
    height: 18px;
    margin-bottom: 2px;
}

.test__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.complete {
    height: 40px;
}

.description {
    width: 85%;
    font-size: 16px;
    white-space: pre-line;
}

@media (max-width: 767px) {
    .test__block {
        padding: 10px 20px;

    }

    .test__left {
        row-gap: 8px;
    }

    .test__name {
        font-size: 18px;
    }

    .test__difficult {
        font-size: 16px;
    }

    .test__rating {
        font-size: 14px;
    }

    .description {
        font-size: 14px;
    }

    .test__rating img {
        height: 16px;
        margin-bottom: 1px;
    }

    .complete {
        height: 30px;
    }
}

@media (max-width: 600px) {
    .test__block {
        padding: 10px 20px;
    }

    .test__name {
        font-size: 16px;
    }

    .description {
        font-size: 12px;
    }

    .test__left {
        row-gap: 5px;
    }

    .test__difficult {
        font-size: 14px;
    }

    .test__rating {
        font-size: 12px;
    }

    .test__rating img {
        height: 14px;
        margin-bottom: 1px;
    }

    .test__left {
        column-gap: 75px;
    }
}

@media (max-width: 500px) {
    .complete {
        height: 20px;
    }
}

@media (max-width: 350px) {
    .test__name {
        font-size: 12px;
    }

    .test__difficult {
        font-size: 12px;
    }


    .description {
        font-size: 10px;
    }

    .test__rating {
        font-size: 10px;
    }
}