.vacancies__page {
    min-height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    position: relative;
}

.vacancies__wrap {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    min-height: calc(100vh - 80px);
    background-color: #fff;
    box-shadow: 0 0 15px 3px #323232;
    padding: 40px 80px;
    column-gap: 30px;
}

.result__vacancies,
.vacancies__filter {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
}

.result__vacancies {
    width: 800px;
}

.vacancies__filter {
    width: 210px;
}
