.vacancies__page {
    min-height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    position: relative;
}

.vacancies__main {
    position: relative;
    width: 1200px;
    min-height: calc(100vh - 80px);
    background-color: #fff;
    box-shadow: 0 0 15px 3px #323232;
    padding: 40px 80px;
    column-gap: 30px;
}

.vacancies__wrap {
    display: flex;
    justify-content: space-between;
    position: relative;
    /*width: 1200px;*/
    /*min-height: calc(100vh - 80px);*/
    /*background-color: #fff;*/
    /*box-shadow: 0 0 15px 3px #323232;*/
    /*padding: 40px 80px;*/
    /*column-gap: 30px;*/
}

.result__vacancies,
.vacancies__filter {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
}

.create__vacancies {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
}

.create__vacancies_btn {
    width: fit-content;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: white;
    font-weight: 500;
    background: black;
    border-radius: 10px;
}

.result__vacancies {
    width: 800px;
}

.vacancies__filter {
    width: 210px;
}

.active__modal {
    display: flex !important;
}

.filter__btn {
    position: absolute;
    top: 40px;
    right: 20px;
    cursor: pointer;
    display: none;
}

.filter__btn_close {
    display: none;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    height: 20px;
}

@media (max-width: 1300px) {
    .vacancies__wrap {
        width: 90%;
    }

    .result__vacancies {
        width: fit-content;
        flex-grow: 1;
    }
}


@media (max-width: 1100px) {
    .vacancies__wrap {
        padding: 20px 40px;
    }
}

@media (max-width: 767px) {
    .vacancies__filter {
        position: absolute;
        width: 90%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
        background-color: #fff;
        padding: 20px;
        border-radius: 20px;
        left: 50%;
        transform: translate(-50%, 0);
        top: 10px;
        display: none;
    }

    .filter__btn,
    .filter__btn_close {
        display: block;
    }

    .check__block_adaptive {
        flex-direction: row;
    }

    .create__vacancies_btn {
        font-size: 16px;
    }
}

@media (max-width: 600px) {
    .check__block_adaptive {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .check__block_adaptive > div {
        width: 45%;
    }

    .check__block_adaptive > div:first-child {
        width: 100%;
    }

    .create__vacancies_btn {
        font-size: 14px;
    }
}

