.vacancies__page {
    min-height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    position: relative;
}

.vacancies__wrap {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 1200px;
    min-height: calc(100vh - 80px);
    background-color: #fff;
    box-shadow: 0 0 15px 3px #323232;
    padding-bottom: 50px;
}
