.skl__container {
    width: 100%;
    min-height: calc(100vh - 80px);
    position: relative;
    display: flex;
    justify-content: center;
}

.skl__bg {
    width: 100%;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background: url("../../images/mainBg.png") no-repeat center / cover;
}

.skl__block {
    width: 70%;
    background-color: #fff;
    z-index: 2;
    min-height: calc(100vh - 80px);
    box-shadow: 0 0 15px 3px #323232;
    display: flex;
    padding: 30px;
    flex-direction: column;
    align-items: center;
}

.skl__header {
    display: flex;
    flex-direction: column;
    column-gap: 10px;
    margin-top: 20px;
    width: 100%;
}

.skl_present {
    width: 100%;
    height: auto;
    margin-bottom: 50px;
}

.border__bottom {
    border-bottom: 4px solid;
    border-image: linear-gradient(213deg, #00DBDE 0%, #FC00FF 100%);
    border-image-slice: 1;
}

.what_it_is {
    margin: 50px 0;
}

.news {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 100%;
    font-size: 20px;
}

.skl__token {
    width: 100%;
    height: 100%;
}

.banner__underline {
    border-bottom: 4px solid;
    border-image: linear-gradient(213deg, #00DBDE 0%, #FC00FF 100%);
    border-image-slice: 1;
    margin-bottom: 15px;
    font-size: 34px;
}

.skl__instruction {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    row-gap: 30px;
}

.skl__instruction__block {
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 60px;
    margin-top: 30px;
}

.skl__instruction__block__title {
    border-bottom: 4px solid;
    border-image: linear-gradient(213deg, #00DBDE 0%, #FC00FF 100%);
    border-image-slice: 1;
    margin: 0 0 15px 30px;
    font-size: 20px;

}

.skl__instruction__block__content {
    width: 100%;
    margin: 10px 0;
    font-family: 'Noto Sans', sans-serif;
    line-height: 26px;
    padding: 20px 0;
    text-align: justify;
}

.polygon {
    background: url('../../images/polygon.svg') no-repeat center/cover;
}

.person {
    background: url('../../images/person.svg') no-repeat center/cover;
    padding: 20px;
}

.steps {
    background: url('../../images/steps.svg') no-repeat center/cover;
    padding: 20px;
}

.steps, .person, .polygon {
    width: 160px;
    height: 160px;
    margin: 0 10px 10px 0;
    float: left;

}

.banner__name__span {
    font-family: 'Aldrich', sans-serif;
    font-size: 18px;
}

.text__start {
    margin-left: 30px;
}

.skl__link {
    text-decoration: none;
    font-size: 14px;
    color: gray;
}

.coin {
    width: 14px;
    height: 14px;
    margin-right: 10px;
}

@media (max-width: 1100px) {
    .skl__block {
        width: 70%;
        padding: 20px 30px;
    }

    .banner__underline {
        font-size: 29px;
    }

    .skl__instruction__block__title {
        font-size: 23px;
    }


    .steps, .person, .polygon {
        width: 160px;
        height: 160px;
        margin: 0 6px 6px 0;
    }
}


@media (max-width: 920px) {
    .skl__block {
        padding: 30px 20px;
    }

    .banner__underline {
        font-size: 27px;
    }

    .skl__instruction__block__title {
        font-size: 21px;
    }

    .skl__instruction__block__content {
        padding: 10px 0;
        line-height: 20px;
        font-size: 15px;
    }

    .skl__link {
        font-size: 13px;
    }


    .banner__name__span {
        font-size: 16px;
    }

    .steps, .person, .polygon {
        width: 140px;
        height: 140px;
        margin: 0 6px 6px 0;
    }
}

@media (max-width: 767px) {
    .skl__block {
        width: 80%;
        padding: 50px 20px;
    }

    .banner__underline {
        font-size: 24px;
    }

    .skl__instruction__block__title {
        font-size: 19px;
    }

    .skl__instruction__block__content {
        padding: 10px 0;
        line-height: 20px;
        font-size: 14px;
    }

    .skl__link {
        font-size: 13px;
    }

    .coin {
        width: 13px;
        height: 13px;
    }

    .banner__name__span {
        font-size: 14px;
    }

    .steps, .person, .polygon {
        width: 120px;
        height: 120px;
        margin: 0 4px 4px 0;
    }

    .banner__underline {
        border-bottom: 2px solid;
    }
}


@media (max-width: 640px) {

    .banner__underline {
        font-size: 18px;
    }

    .skl__instruction__block__title {
        font-size: 16px;
    }

    .skl__instruction__block__content {
        padding: 0;
        line-height: 20px;
        font-size: 13px;
    }

    .skl__link {
        font-size: 12px;
    }

    .coin {
        width: 12px;
        height: 12px;
    }

    .banner__name__span {
        font-size: 14px;
    }

    .steps, .person, .polygon {
        width: 100px;
        height: 100px;
        margin: 0 4px 4px 0;
    }
}

@media (max-width: 520px) {

    .banner__underline {
        font-size: 17px;
    }

    .skl__instruction__block__title {
        font-size: 14px;
    }

    .skl__instruction__block__content {
        padding: 0;
        line-height: 20px;
        font-size: 12px;
    }

    .skl__link {
        font-size: 11px;
    }

    .coin {
        width: 10px;
        height: 10px;
    }

    .banner__name__span {
        font-size: 14px;
    }

    .steps, .person, .polygon {
        width: 90px;
        height: 90px;
        margin: 0 4px 4px 0;
    }

    .banner__underline {
        border-bottom: 1px solid;
    }
}

@media (max-width: 450px) {
    .text__start {
        margin-left: 2px;
    }

    .skl__instruction__block__title {
        font-size: 13px;
    }

    .skl__instruction__block__content {
        font-size: 12px;
    }

    .steps, .person, .polygon {
        width: 70px;
        height: 70px;
        margin: 0 4px 4px 0;

    }
}

@media (max-width: 350px) {
    .text__start {
        margin-left: 0;
    }

    .skl__instruction__block__title {
        font-size: 12px;
    }

    .skl__instruction__block__content {
        font-size: 11px;
    }

    .steps, .person, .polygon {
        width: 60px;
        height: 60px;
        margin: 0 2px 2px 0;

    }
}
