.test__page {
    min-height: calc(100vh - 160px);
    position: relative;
    padding: 40px 50px;
    display: flex;
    flex-direction: column;
}

.test__page_title {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 32px;
    font-weight: 500;
    padding-bottom: 25px;
    /*margin-bottom: 25px;*/
    border-bottom: 4px solid;
    border-image: linear-gradient(213deg, #00DBDE 0%, #FC00FF 100%);
    border-image-slice: 1;
}

.test__page_title__name {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    min-height: 20px;
}

.back__btn_wrap {
    width: 100%;
    display: flex;
    padding: 20px 0;
}

.title__rating {
    font-size: 22px;
    font-weight: 400;
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.exercises__wrap {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.result__block {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    margin-top: 10px;
    row-gap: 20px;
}

.coin__result__get {
    display: flex;
    align-items: center;
    justify-content: space-around;
    column-gap: 10px;
}

.check__wrap {
    width: 100%;
    display: flex;
    justify-content: center;
}

.check__btn {
    margin-top: 30px;
    padding: 10px 30px;
    border-radius: 50px;
    font-weight: 500;
    color: #FFFFFF;
    font-size: 24px;
    background-color: #000;
    cursor: pointer;
    text-decoration: none;
    width: fit-content;
    position: relative;
    transform-style: preserve-3d;
    border: none;
}

.completed__header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.approve__block {
    margin-top: 40px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
}

.approve__btn,
.delete__btn {
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
    background-color: limegreen;
}

.delete__btn {
    background-color: crimson;
}

.rating__wrap,
.rate__mark {
    display: flex;
    align-items: center;
    column-gap: 15px;
}


.user__mark {
    width: 20px;
}

.rate__btn {
    height: 30px;
    padding: 0 15px;
    background-color: black;
    border-radius: 15px;
    color: #FFFFFF;
    font-size: 20px;
    cursor: pointer;
    border: none;
}

.failed__test {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    color: crimson;
}

.try__again_btn {
    border: none;
    padding: 10px 15px;
    background-color: #000;
    border-radius: 40px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
}

.private__wrap {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.private__img {
    height: 20px;
}

.test__info_wrap {
    width: 100%;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.test__info_wrap__percent {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.result__check__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    width: 100%;
}

.modal__result {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
}


.result__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    width: 70%;
    height: 65%;
    padding: 50px;
    background-color: #FFFFFF;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.55);
}

.result__left {
    display: flex;
    align-items: center;
}

.result__left__congratulations {
    width: 70%;
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    padding-bottom: 25px;
    border-bottom: 4px solid;
    border-image: linear-gradient(213deg, #00DBDE 0%, #FC00FF 100%);
    border-image-slice: 1;
}

.result__wrap__cross {
    width: 28px;
    height: 28px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
}


.box__rating_difficult {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 10px;
}

.box__rating_form {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.difficult__input {
    height: 30px;
    width: 60px;
    outline: none;

}

@media (max-width: 1200px) {
    .completed__header {
        width: 100%;
        row-gap: 10px;
        flex-direction: column;
        text-align: center;
    }
}

@media (max-width: 920px) {
    .result__block {
        font-size: 24px;
    }

    .check__btn {
        font-size: 20px;
    }

    .coin__result__get {
        column-gap: 3px;
    }

    .rating__wrap {
        column-gap: 2px;
    }

    .coin__result__get {
        font-size: 24px;
        column-gap: 5px;
    }

    .result__left__congratulations {
        font-size: 28px;
    }
}


@media (max-width: 767px) {
    .test__page_title {
        font-size: 30px;
        padding-bottom: 15px;
        margin-bottom: 15px;
    }

    .exercises__wrap {
        row-gap: 15px;
    }

    .test__page {
        min-height: calc(100vh - 120px);
        padding: 30px 20px;
        align-items: center;
    }

    .result__block {
        font-size: 18px;
    }

    .result__wrap {
        flex-direction: column;
        row-gap: 10px;
    }

    .check__btn {
        font-size: 18px;
    }

    .back__btn_wrap {
        padding: 10px 0;
    }

    .rating__wrap {
        flex-direction: column;
        row-gap: 5px;
    }

    .result__wrap__cross {
        width: 24px;
        height: 24px;
    }

    .result__left__congratulations {
        font-size: 21px;
    }

    .coin__result__get {
        font-size: 18px;
    }
}

@media (max-width: 600px) {
    .test__page_title,
    .failed__test {
        flex-direction: column;
        row-gap: 5px;
    }

    .failed__test {
        font-size: 14px;
        row-gap: 10px;
        margin: 10px 0;
    }

    .try__again_btn {
        font-size: 14px;
    }

    .result__wrap__cross {
        width: 22px;
        height: 22px;
    }

    .result__left__congratulations {
        width: 90%;
        font-size: 20px;
    }
}

@media (max-width: 500px) {
    .test__page {
        padding: 15px 10px;
    }

    .rating__wrap {
        flex-direction: column;
        row-gap: 3px;
    }

    .result__left {
        flex-direction: column;
        row-gap: 5px;
    }

    .back__btn_wrap {
        padding: 0;
    }

    .result__left__congratulations {
        width: 90%;
        font-size: 20px;
    }
}
