.confirmed__mentors__block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 40px;
    width: 80%;
}

.mentors__header {
    width: 100%;
    height: 40px;
    background-color: #000;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 15px;
    font-size: 16px;
}

.mentor__name__column {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 20%;
}

.mentor__technologies__column {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 20%;
}

.mentor__tests__column {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 15%;
}

.mentor__status__column {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 17%;
}

.mentor__experience__column {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 28%;
    padding-left: 30px;
}

.admin__title {
    display: flex;
    font-size: 30px;
    font-weight: 500;
    justify-content: center;
    border-bottom: 3px solid;
    padding: 0 10px;
    margin-bottom: 20px;
    border-image: linear-gradient(213deg, #00DBDE 0%, #FC00FF 100%);
    border-image-slice: 1;
}

.pagination__wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.pagination__block {
    display: flex;
    align-items: center;
    font-size: 30px;
    column-gap: 10px;
}

.arrow__left,
.arrow__right {
    height: 25px;
    cursor: pointer;
}

.arrow__right {
    transform: rotate(180deg);
}
