.testing__main {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.testing__text_box {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.testing__header {
    width: fit-content;
    font-size: 30px;
    padding-bottom: 5px;
    margin-bottom: 50px;
    border-bottom: 3px solid;
    border-image: linear-gradient(213deg, #00DBDE 0%, #FC00FF 100%);
    border-image-slice: 1;
}

.testing__small_header {
    font-size: 22px;
    font-weight: 100;
    padding-bottom: 20px;
}

.testing__description {
    font-size: 18px;
    font-weight: 100;
}

.testing__arrow {
    width: 30px;
}

.testing__img {
    width: 50%;
    padding-left: 50px;
}

.testing__details {
    display: flex;
    column-gap: 20px;
    font-size: 18px;
    font-weight: bold;
    padding-top: 20px;
    text-decoration: none;
    color: black;
}

@media (max-width: 1100px) {
    .testing__header {
        font-size: 26px;
    }
}

@media (max-width: 992px) {
    .testing__header {
        font-size: 20px;
        margin-bottom: 30px;
    }

    .testing__small_header {
        font-size: 18px;
        padding-bottom: 10px;
    }

    .testing__description {
        font-size: 16px;
    }

    .testing__img {
        padding-left: 30px;
    }
    .testing__arrow {
        width: 25px;
    }

    .testing__details {
        column-gap: 15px;
        font-size: 16px;
        padding-top: 15px;
    }
}

@media (max-width: 767px) {
    .testing__header {
        font-size: 15px;
        margin-bottom: 20px;
    }

    .testing__small_header {
        font-size: 14px;
    }

    .testing__description {
        font-size: 12px;
    }

    .testing__img {
        padding-left: 20px;
    }

    .testing__arrow {
        width: 20px;
    }

    .testing__details {
        column-gap: 10px;
        font-size: 12px;
        padding-top: 10px;
    }
}

@media (max-width: 576px) {
    .testing__header {
        font-size: 11px;
    }

    .testing__small_header {
        font-size: 10px;
    }

    .testing__description {
        font-size: 8px;
    }

    .testing__img {
        padding-left: 10px;
    }

    .testing__arrow {
        width: 15px;
    }

    .testing__details {
        column-gap: 5px;
        font-size: 9px;
        padding-top: 10px;
    }
}

@media (max-width: 400px) {
    .testing__header {
        font-size: 7px;
        margin-bottom: 10px;
    }

    .testing__small_header {
        font-size: 7px;
        padding-bottom: 5px;
    }

    .testing__description {
        font-size: 6px;
    }

    .testing__img {
        padding-left: 10px;
    }

    .testing__arrow {
        width: 10px;
    }

    .testing__details {
        font-size: 6px;
    }
}
