.compiler {
    width: 100%;
    min-height: calc(100vh - 80px);
    padding: 40px 0;
    display: flex;
    column-gap: 40px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.compiler__form {
    height: calc(100vh - 160px);
    display: flex;
    width: 80%;
    position: relative;
}

.compiler__textarea {
    background-color: #fff;
    height: 100%;
    width: 70%;
    padding: 45px;
    border-right: 2px solid lightgrey;
}

.editor__wrap {
    height: 100%;
    width: 65%;
}

.result__wrap {
    height: 100%;
    width: 35%;
}


.dropdown__wrap {
    position: relative;
    z-index: 2;
}

.dropdown__btn {
    cursor: pointer;
    height: 40px;
    width: 100%;
    background-color: #fff;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
    user-select: none;
}

.drop__elements_wrap {
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    border: 1px solid lightgrey;
    padding-top: 40px;
    width: 100%;
    z-index: -1;
    height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.error {
    color: crimson;
}

.drop__elements_wrap::-webkit-scrollbar {
    width: 6px;
    background-color: #F3F3F3;
    border-radius: 10px
}

.drop__elements_wrap::-webkit-scrollbar-thumb {
    background-color: #CDC9C9;
    border-radius: 2px;
}


.dropdown__element {
    padding: 10px;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dropdown__element:hover {
    background-color: #F1F1F1;
}

.dropdown__element:last-child {
    border-bottom: none
}

.arrow__open,
.arrow__close {
    height: 20px;
    transition: all .2s linear;
}

.arrow__open {
    transform: rotate(-90deg);
}

.result__wrap {
    display: flex;
    flex-direction: column;
}

.dropdown__container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}


.compiler__btn {
    position: absolute;
    top: 30px;
    left: calc(60% - 30px);
}

@media (max-width: 1100px) {
    .compiler__form {
        width: 90%;
    }
}

@media (max-width: 767px) {
    .compiler__form {
        min-height: calc(100vh - 60px);
        height: fit-content;
        flex-direction: column;
    }

    .compiler__textarea {
        min-height: 60vh;
        width: 100%;
        border-right: none;
        border-bottom: 1px solid lightgray;
    }

    .result__wrap {
        width: 100%;
        height: 40vh;
    }

    .compiler__btn {
        left: calc(90% - 30px);
    }
}