.test__page {
    min-height: calc(100vh - 80px);
    padding: 40px 50px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.test__page_title {
    width: 100%;
    text-align: center;
    font-size: 36px;
    font-weight: 500;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 4px solid;
    border-image: linear-gradient(213deg, #00DBDE 0%, #FC00FF 100%);
    border-image-slice: 1;
}


.tests__wrap {
    width: 100%;
    min-height: 60vh;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.test__pag_wrap {
    width: 100%;
    display: flex;
    justify-content: center;
}

.pagination__block {
    display: flex;
    align-items: center;
    column-gap: 15px;
    font-size: 40px;
}

.arrow__left,
.arrow__right {
    height: 25px;
    cursor: pointer;
}

.arrow__right {
    transform: rotate(180deg);
}

.pagination__wrap {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 40px;
    align-items: center;
}

.pagination__number,
.pagination__number_active {
    width: 35px;
    height: 35px;
    font-size: 26px;
    color: #8D8D8D;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.pagination__number_active {
    color: black;
}

.pagination__container {
    background-color: #FFF;
    border-radius: 10px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    box-shadow: 0 4px 12px 3px rgba(0, 0, 0, 0.25);
}

.search__form_wrap {
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search__form {
    width: fit-content;
    display: flex;
    justify-content: center;
}

.search__input {
    height: 46px;
    width: 350px;
    border: 3px solid black;
    outline: none;
    border-radius: 23px;
    font-size: 16px;
    padding: 0 15px;
}

.sorting__wrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 20px;
}

.sorting__dropdown_wrap {
    width: fit-content;
    position: relative;

}

.sorting__dropdown_btn {
    width: 200px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    border: 2px solid black;
    cursor: pointer;
    user-select: none;
}

.drop__arrow_open,
.drop__arrow_close {
    transition: all .2s linear;
}

.drop__arrow_close {
    transform: rotate(90deg);
}

.dropdown__menu,
.dropdown__menu_close {
    transition: all .2s linear;
    position: absolute;
    top: 100%;
    width: 100%;
    border: 2px solid black;
    border-top: none;
}

.dropdown__menu_close {
    display: none;
}

.dropdown__element {
    height: 40px;
    width: 100%;
    border-top: 2px solid black;
    display: flex;
    align-items: center;
    padding: 0 15px;
    background-color: #fff;
    cursor: pointer;
}

.dropdown__element:first-child {
    border-top: none;
}

.order__btn {
    height: 40px;
    width: 40px;
    border: 2px solid black;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.order__btn img {
    height: 100%;
}

.test__switcher_wrap {
    width: 100%;
    display: flex;
}

.test__switcher {
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.test__switcher_btn {
    height: 40px;
    width: 100px;
    background-color: #e3e3e3;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    cursor: pointer;
}

.test__switcher_btn:first-child {
    border-right: 1px solid #8d8d8d;
    border-radius: 10px 0 0 10px;
}

.test__switcher_btn:last-child {
    border-left: 1px solid #8d8d8d;
    border-radius: 0 10px 10px 0;
}


.chosen {
    background-color: #F3F3F3;
}

@media (max-width: 767px) {
    .test__page_title {
        font-size: 30px;
        padding-bottom: 15px;
        margin-bottom: 15px;
    }

    .search__input {
        height: 38px;
        width: 300px;
    }

    .tests__wrap {
        row-gap: 15px;
    }

    .test__page {
        min-height: calc(100vh - 120px);
    }

    .sorting__dropdown_wrap {
        font-size: 12px;
    }

    .sorting__dropdown_btn {
        height: 30px;
        width: 170px;
        font-size: 12px;
    }

    .dropdown__element {
        height: 30px;
        font-size: 12px;
    }

    .order__btn {
        height: 30px;
        width: 30px;
    }
}

@media (max-width: 500px) {
    .test__switcher_wrap {
        justify-content: center;
    }

    .search__form {
        justify-content: flex-start;
    }

    .sorting__wrap {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 10px;
    }

    .search__input {
        height: 30px;
        width: 80%;
        border-width: 2px;
    }

    .search__form_wrap {
        flex-direction: column-reverse;
        row-gap: 10px;
        align-items: flex-start;
        margin: 0;
    }


    .test__page {
        padding: 30px 20px;
    }
}
