.presentBox {
    width: 100%;
    height: 200px;
    background: url("../../../images/presentForUserAlways.png") no-repeat;
    display: flex;
    justify-content: flex-end;
}

.overlay {
    width: 55%;
    background: url("../../../images/whiteOverlayForPresent.png") no-repeat center right 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.text h2 {
    font-size: 35px;
    text-align: right;
}

.name {
    font-size: 55px;
}

.span, .name {
    border-bottom: 4px solid;
    width: auto;
    border-image: linear-gradient(213deg, #00DBDE 0%, #FC00FF 100%);
    border-image-slice: 1;
}

@media (max-width: 1440px) {
    .overlay {
        width: 60%;
    }
}

@media (max-width: 1220px) {
    .presentBox {
        height: 180px;
    }

    .name {
        font-size: 40px;
    }
    .overlay {
        width: 68%;
    }
}

@media (max-width: 992px) {
    .text h2{
        font-size: 25px;
    }
    .presentBox {
        height: 150px;
    }

    .name {
        font-size: 35px;
    }

    .overlay {
        width: 70%;
    }
}

@media (max-width: 768px) {
    .presentBox {
        height: 100px;
    }

    .text h2 {
        font-size: 21px;
    }

    .name {
        font-size: 25px;
    }

    .overlay {
        width: 82%;
    }
}

@media (max-width: 576px) {
    .overlay {
      width: 90%;
    }

    .text h2 {
        font-size: 18px;
    }

    .name {
        font-size: 22px;
    }

}

@media (max-width: 500px) {
    .overlay {
        justify-content: flex-end;
        padding-right: 10px;
    }

}

@media (max-width: 450px) {
    .presentBox {
        height: 80px;
    }

    .overlay {
        width: 100%;
    }

    .text h2 {
        font-size: 16px;
    }

    .name {
        font-size: 20px;
    }

}

@media (max-width: 360px) {
    .name {
        font-size: 18px;
    }

}


