.banner__box {
    width: 100%;
    height: 200px;
    background: url("../../../images/present-background.jpg") no-repeat center / cover;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    position: relative;
    box-shadow: 0 4px 12px 3px rgba(0, 0, 0, 0.25);
}

.banner__content {
    width: 600px;
    height: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
}

.banner__angle {
    background: url("../../../images/banner-angle.svg");
    user-select: none;
    width: 220px;
}

.banner__text {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.2;
}

.banner__name {
    font-family: 'Aldrich', sans-serif;
    text-transform: uppercase;
    font-size: 45px;
}

.banner__underline {
    border-bottom: 4px solid;
    border-image: linear-gradient(213deg, #00DBDE 0%, #FC00FF 100%);
    border-image-slice: 1;
}

@media (max-width: 1200px) {
    .banner__box {
        height: 150px;
    }

    .banner__angle {
        width: 170px;
    }

    .banner__content {
        width: 450px;
        justify-content: flex-start;
    }

    .banner__text {
        font-size: 30px;
    }

    .banner__name {
        font-size: 40px;
    }

}

@media (max-width: 1000px) {
    .banner__content {
        width: 500px;
        justify-content: center;
    }

    .banner__text {
        font-size: 28px;
        line-height: 1.3;
    }

    .banner__name {
        font-size: 36px;
    }

}

@media (max-width: 767px) {
    .banner__box {
        height: 110px;
    }

    .banner__angle {
        width: 130px;
    }

    .banner__content {
        width: 370px;
    }

    .banner__text {
        font-size: 22px;
    }

    .banner__name {
        font-size: 30px;
    }

    .banner__underline{
        border-bottom: 2px solid;
        border-image: linear-gradient(213deg, #00DBDE 0%, #FC00FF 100%);
        border-image-slice: 1;
    }

}

@media (max-width: 500px) {
    .banner__content {
        width: 300px;
    }

    .banner__text {
        font-size: 20px;
    }

    .banner__name {
        font-size: 25px;
    }

}

@media (max-width: 450px) {
    .banner__box {
        height: 90px;
    }

    .banner__content {
        width: 240px;
    }

    .banner__text {
        font-size: 16px;
        line-height: 1.4;
    }

    .banner__name {
        font-size: 20px;
    }

    .banner__angle {
        width: 110px;
    }

}

@media (max-width: 350px) {
    .banner__content {
        width: 200px;
    }

    .banner__text {
        font-size: 13px;
    }

    .banner__name {
        font-size: 15px;
    }

    .banner__box {
        height: 70px;
    }

    .banner__angle {
        width: 90px;
    }

}

@media (max-width: 300px) {
    .banner__content {
        width: 190px;
        justify-content: flex-start;
    }

}
