.comment__block {
    padding: 20px;
    margin: 20px 0;
    background-color: #FFFF;
}

.comment__block_header {
    display: flex;
    justify-content: space-between;
}

.post__username {
    font-size: 16px;
    font-weight: 500;
    border-bottom: 3px solid;
    padding-bottom: 3px;
    margin-bottom: 10px;
    border-image: linear-gradient(213deg, #00DBDE 0%, #FC00FF 100%);
    border-image-slice: 1;
}

.post__createdAt {
    font-size: 12px;
}

.comment__block_box {
    background: #FFFF !important;
    max-height: 200px;
    font-size: 12px;
}

.comment__block_more {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    padding-right: 20px;
}

.basket {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}
