.header__link,
.switch_btn_en,
.switch_btn_uk {
    display: none;
}

.header__link_new,
.header__link_new_active {
    display: flex;
    justify-content: flex-start;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 20px;
}

.header__link_new .header__link_title .arrow,
.link__click .arrow_mini {
    transition: all .1s linear;
    transform: rotate(180deg);
}

.header__link_new_active {
    background-color: lightgray;
    margin-bottom: 0;
}

.header__link_new_active .new__icon {
    display: none;
}

.link__main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #fff;
    padding:10px 20px;
    row-gap: 20px;
    border-bottom: 1px solid lightgray;
}

.link__box {
    text-decoration: none;
    color: #000000;
    font-size: 17px;
    width: 100%;
}

.header__link_title {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.new__icon {
    width: 14px;
    height: 14px;
    position: absolute;
    top: -10px;
    left: -15px;
}

.new__icon_mini {
    width: 12px;
    height: 12px;
    position: absolute;
    top: -5px;
    left: -15px;
}

.link__position {
    position: relative;
}

.link__click {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link__main_wrap:hover .arrow_mini {
    display: none;
}

.link__description {
    display: none;
}

.link__main_wrap {
    width: 100%;
}

/*.link__main_wrap:hover {*/
/*    transition: 1500ms;*/
/*}*/

.link__main_wrap:hover .link__description{
    display: flex;
    font-size: 14px;
    border-left: 1px solid gray;
    color: gray;
    padding: 5px;
    margin: 5px 0;
}

.arrow_mini {
    width: 10px;
    height: 10px;
}

@media (max-width: 767px) {
    .header__link_new,
    .header__link_new_active {
        font-size: 16px;
    }

    .arrow {
        width: 16px;
    }

    .link__box {
        font-size: 15px;
    }
}

@media (max-width: 550px) {
    .header__link,
    .switch_btn_en,
    .switch_btn_uk {
        display: flex;
    }

    .switch_btn_en,
    .switch_btn_uk {
        width: 80px;
        height: 40px;
        border-radius: 30px;
        border: none;
        display: flex;
        justify-content: left;
        align-items: center;
        padding: 6px;
        transition: 400ms ease-in-out;
        background-color: lightgray;
        margin: 10px;
    }

    .switch_btn_ball_en {
        width: 23px;
        height: 23px;
        background-image: url("../../../../images/header/Flag_of_the_United_Kingdom.svg");
        background-size: cover;
        background-position: center;
        border-radius: 50%;
        transform: translate(39px);
        transition: all 400ms ease-in-out;
    }

    .switch_btn_ball_uk {
        width: 23px;
        height: 23px;
        background-image: url("../../../../images/header/Flag_of_Ukraine.svg");
        background-size: cover;
        border-radius: 50%;
        transition: all 400ms ease-in-out;
    }

    .switch_btn_name_en {
        transform: translate(-13px);
    }

    .switch_btn_name_uk {
        transform: translate(10px);
    }

    .switch_btn_name_en,
    .switch_btn_name_uk {
        transition: all 400ms ease-in-out;
        font-weight: bold;
        font-size: 12px;
    }

    .switch_btn_en,
    .switch_btn_uk,
    .switch_btn {
        height: 30px;
        width: 70px;
        padding: 4px;
    }

    .switch_btn_name {
        transform: translate(5px);
        font-size: 8px;
    }

    .dark_switch_btn_name {
        transform: translate(-14px);
        font-size: 8px;
    }

    .user__block {
        display: flex;
        align-items: center;
        column-gap: 10px;
    }

    .user__block img {
        height: 18px;
    }

    .header__link {
        font-size: 18px;
        color: black;
        text-decoration: none;
        cursor: pointer;
        font-weight: 500;
        margin-top: 10px;
    }
}
