.tech__wrap {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 10px 30px;
}

.tech__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 40px;
    column-gap: 70px;
}

@media (max-width: 1200px) {
    .tech__wrap {
        padding: 15px 30px;
    }
}


@media (max-width: 767px) {
    .tech__wrap {
        padding: 30px;
    }

    .tech__title {
        font-size: 28px;
    }
}

@media (max-width: 700px) {
    .carousel__btn {
        display: none;
    }

    .tech__wrap {
        padding: 5px 30px;
    }
}

@media (max-width: 520px) {
    .carousel__btn {
        display: block;
    }
}

@media (max-width: 500px) {
    .tech__wrap {
        padding: 50px 0 100px 0;
    }

}


@media (max-width: 340px) {
    .carousel__btn {
        display: none;
    }
    .tech__wrap {
        padding: 5px 0;
    }
}

@media (max-width: 320px) {
    .tech__wrap {
        padding: 30px 10px;
    }
}

