.tech__wrap {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 50px 30px;
}

.tech__wrap_loginUser {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.title_loginUser {
    display: none;
}

@media (max-width: 767px) {
    .tech__wrap {
        padding: 30px;
    }

    .tech__title {
        font-size: 28px;
    }
}

@media (max-width: 700px) {
    .carousel__btn {
        display: none;
    }
}

@media (max-width: 520px) {
    .carousel__btn {
        display: block;
    }
}

@media (max-width: 500px) {
    .tech__wrap {
        padding: 30px 0;
    }

}

@media (max-width: 340px) {
    .carousel__btn {
        display: none;
    }
}

@media (max-width: 320px) {
    .tech__wrap {
        padding: 30px 10px;
    }
}













