.recruiter__page {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

.recruiter__wrap {
    min-height: calc(100vh - 80px);
    z-index: 2;
    width: 1200px;
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px 50px;
    box-shadow: 0 0 15px 3px #323232;
    row-gap: 30px;
}

.user__search_wrap {
    width: 100%;
}

.user__search_form {
    display: flex;
    align-items: center;
}

.user__search_input {
    width: 250px;
    height: 40px;
    border: none;
    border-bottom: 2px solid black;
    font-size: 16px;
    padding: 0 10px;
    outline: none;
    background-color: #F1F1F1;
}

.users__wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.users__header {
    width: 100%;
    height: 40px;
    background-color: #000;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 15px;
    font-size: 16px;
}

.user__block_main {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    font-size: 16px;
    background-color: #fff;
    color: black;
    border-bottom: 2px solid lightgray;
    cursor: pointer;
    transition: all .1s linear;
}

.user__block_main:hover {
    background-color: #F1F1F1;
    transition: all .1s linear;
}

.user__name_header {
    width: 40%;
}

.user__openForHiring_header,
.user__linkedin_header,
.user__github_header,
.user__email_header {
    width: 15%;
    text-align: center;
}

.user__block {
    width: 55%;
    height: 40px;
    display: flex;
    align-items: center;
    font-size: 16px;
}

.search__info {
    font-size: 20px;
    font-weight: 600;
    color: #323232;
    text-align: center;
    background-color: #fff;
    border-bottom: 2px solid lightgray;
    cursor: pointer;
    transition: all .1s linear;
    width: 100%;
}

.search__info_span {
    color: red;
    font-size: 24px;
}

.user__name {
    width: 75%;
    overflow: hidden;
}

.user__openForHiring {
    width: 24%;
}

.user__openForHiring_img {
    width: 24%;
    display: flex;
    justify-content: center;
}

.user__openForHiring_img img {
    width: 25px;
}

.user__email,
.user__linkedin,
.user__github {
    width: 15%;
    display: flex;
    justify-content: center;
}

.linkedin__btn {
    min-width: 100px;
    width: fit-content;
    height: 20px;
    display: flex;
    padding: 0 15px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #0073B1;
    font-size: 14px;
    font-weight: 600;
    color: #FFFFFF;
    cursor: pointer;
    text-decoration: none;
    border-radius: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.github__btn,
.email__btn {
    min-width: 100px;
    width: fit-content;
    height: 20px;
    display: flex;
    padding: 0 15px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
    font-size: 14px;
    font-weight: 600;
    color: #24292F;
    cursor: pointer;
    text-decoration: none;
    border-radius: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.email__btn {
    background-color: white;
    border: 1px solid black;
}

@media (max-width: 1440px) {
    .recruiter__wrap {
        min-height: calc(100vh - 60px);
    }
}

@media (max-width: 1200px) {
    .recruiter__wrap {
        width: 90%;
    }
}

@media (max-width: 1000px) {
    .recruiter__wrap {
        width: 90%;
        min-height: calc(100vh - 70px);
    }

    .users__header,
    .user__block_main {
        padding: 0 5px;
    }

    .user__openForHiring_header {
        width: 15%;
    }

    .email__btn,
    .linkedin__btn,
    .github__btn {
        min-width: 70px;
        padding: 0 10px;
    }
}

@media (max-width: 767px) {
    .recruiter__wrap {
        padding: 40px 20px;
    }

    .users__header {
        font-size: 14px;
    }

    .email__btn,
    .linkedin__btn,
    .github__btn {
        min-width: 50px;
        font-size: 14px;
        font-weight: 300;
    }

}

    @media (max-width: 550px) {
        .users__header {
            font-size: 12px;
        }

        .user__name {
            font-size: 14px;
        }

        .email__btn,
        .github__btn,
        .linkedin__btn {
            min-width: 30px;
            font-size: 11px;
            font-weight: 300;
            padding: 0 5px;
        }

        .user__openForHiring_img img {
            width: 15px;
        }

    }

    @media (max-width: 400px) {
        .user__name {
            font-size: 10px;
        }

        .users__header,
        .user__openForHiring_header,
        .user__email_header,
        .user__linkedin_header,
        .user__github_header {
            font-size: 8px;
        }

        .email__btn,
        .github__btn,
        .linkedin__btn {
            min-width: 30px;
            font-size: 8px;
            font-weight: 100;
            padding: 0;
        }

        .user__openForHiring_img img {
            width: 10px;
        }

        .user__search_input {
            font-size: 14px;
        }
    }

@media (max-width: 300px) {
    .recruiter__wrap {
        padding: 20px;
        row-gap: 20px;
    }

    .user__search_input {
        font-size: 12px;
    }
}


