.recruiter__page {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

.recruiter__wrap {
    min-height: calc(100vh - 80px);
    z-index: 2;
    width: 1200px;
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px 100px;
    box-shadow: 0 0 15px 3px #323232;
    row-gap: 30px;
}

.user__search_wrap {
    width: 100%;
}

.user__search_form {
    display: flex;
    align-items: center;
}

.user__search_input {
    width: 250px;
    height: 40px;
    border: none;
    border-bottom: 2px solid black;
    font-size: 16px;
    padding: 0 10px;
    outline: none;
    background-color: #F1F1F1;
}

.users__wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.users__header,
.user__block {
    width: 100%;
    height: 40px;
    background-color: #000;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 15px;
    font-size: 16px;
}

.search__info {
    font-size: 20px;
    font-weight: 600;
    color: #323232;
    text-align: center;
    background-color: #fff;
    border-bottom: 2px solid lightgray;
    cursor: pointer;
    transition: all .1s linear;
    width: 100%;
}

.search__info_span {
    color: red;
    font-size: 24px;
}

.user__block {
    background-color: #fff;
    color: black;
    border-bottom: 2px solid lightgray;
    cursor: pointer;
    transition: all .1s linear;
}

.user__block:hover {
    background-color: #F1F1F1;
    transition: all .1s linear;
}

.user__name {
    width: 70%;
}

.user__rating {
    width: 30%;
}

@media (max-width: 1200px) {
    .recruiter__wrap {
        width: 90%;
        min-height: calc(100vh - 60px);
    }
}

@media (max-width: 767px) {
    .recruiter__wrap {
        padding: 40px;
    }

}

@media (max-width: 550px) {
    .user__search_wrap {
        display: flex;
        justify-content: center;
    }

    .user__search_input {
        width: 200px;
        height: 30px;
        font-size: 14px;
    }

    .users__header,
    .user__block {
        height: 30px;
        font-size: 14px;
    }

    .search__info {
        font-size: 16px;
    }
}

@media (max-width: 400px) {
    .recruiter__wrap {
        padding: 30px 10px;
    }
}

