.post__main {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 50px;
    background-color: #FFFFFF;
    border: 1px solid lightgrey;
    /*box-shadow: 0 0 10px rgba(72, 72, 72, 0.25);*/
    padding: 20px;
    /*padding: 10px 50px 0 50px;*/
}

.post__block {
    /*padding: 20px 0;*/
}

.delete__btn {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    margin-bottom: 10px;
}

.post__header {
    display: flex;
    justify-content: space-between;
    /*column-gap: 10px;*/
    padding-bottom: 10px;
    border-bottom: 1px solid lightgrey;
}

.post__header_right {
    display: flex;
    column-gap: 10px;
}

.post__block_header,
.loading__header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.post__user {
    width: 50px;
    height: 50px;
}

.post__block_header_left {
    display: flex;
    column-gap: 10px;
}

.post__question {
    width: 20px;
    height: 20px;
}

.post__username {
    font-size: 15px;
    color: #2c2c2c;
    font-weight: bold;
}

.post__userRank {
    font-size: 12px;
}

.post__createdAt {
    font-size: 9px;
    color: #525151;
}

.post__type img{
    width: 20px;
    height: 20px;
}

.post__tech {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    font-family: Aldrich, sans-serif;
    /*border-bottom: 3px solid;*/
    padding-bottom: 10px;
    /*border-image: linear-gradient(213deg, #00DBDE 0%, #FC00FF 100%);*/
    /*border-image-slice: 1;*/
}

.post__test {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    padding: 10px 0;
}

.post__difficult {
    font-size: 14px;
    font-family: 'Noto Sans', sans-serif;
    font-style: italic;
}

.post__correctAnswer {
    font-size: 14px;
}

.post__img {
    display: flex;
    justify-content: center;
    /*background: white;*/
    background: black;
    /*background: linear-gradient(213deg, #00DBDE 0%, #FC00FF 100%);*/
    margin: 10px 0;
}

.post__img img {
    width: 100%;
    /*width: 50%;*/
}

.post__img_main {
    width: 100%;
    display: flex;
    justify-content: center;
}

.post__img_main img{
    width: 200px;
    height: 200px;
}

.post__createComment_form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
    margin-top: 30px;
}

.post__createComment_input {
    width: 100%;
    min-height: 10px;
    max-height: 200px;
    border: 1px solid #8E8B8B;
    font-size: 14px;
    padding: 10px;
}

.post__createComment_input textarea {
    background: #ffffff;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #ededed;
    font-size: 14px;
    line-height: 1.5;
    /*padding: 10px;*/
    /*margin: 10px;*/
    resize: none;
    transition: border-color 150ms ease;
    width: 100%;
}

.post__createComment_input textarea:hover {
    border-color: #c6c6c6;
}

.post__createComment_input textarea:focus {
    outline: none;
    border-color: #c6c6c6;
}

.post__createComment_input textarea::placeholder {
    color: #c6c6c6;
}

.post__createComment_send {
    width: 30px;
    height: 30px;
    background: url("../../../../images/community/send 2.svg") no-repeat center / cover;
    /*background: url("../../../../images/community/send.svg") no-repeat center / cover;*/
    border: none;
    cursor: pointer;
}

.post__message,
.post__message_question {
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
    cursor: pointer;
    column-gap: 10px;
}

.post__message_question div {
    width: fit-content;
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    background-color: black;
    color: white;
}

.post__message img {
    width: 30px;
}

.post__message div{
    display: flex;
    align-items: center;
}

.post__block_footer {
    border-top: 1px solid #8E8B8B;
    margin-top: 10px;
}

.question_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    min-height: 100px;
    background: #F3F3F3;
    border-bottom: 1px solid black;
    cursor: pointer;
    padding: 20px;
}

.question_container:hover {
    background: #eeeded;
}

.question_title, .question_description, .question_technologies, .question_user {
    display: flex;
    width: 100%;
    padding: 5px;
}

.question_title {
    color: rgb(0, 103, 198);
    font-size: 20px;
}

.question_user {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 5px;
}

.question_user > img {
    width: 15px;
    height: 15px;
}

.question_user_name {
    font-size: 10px;
}

.question_technologies {
    align-items: center;
    justify-content: flex-start;
    column-gap: 10px;
}

.technology {
    font-size: 12px;
    padding: 3px 10px;
    background: rgb(125, 186, 248);
    color: #1b1b1c;
}

.comment__block_box {
    background: #FFFF !important;
    font-size: 12px;
    max-height: 200px;
    margin: 20px 0;
}

