.admin__page {
    display: flex;
    justify-content: center;
    position: relative;
}

.admin__wrap {
    min-height: calc(100vh - 80px);
    width: 1200px;
    z-index: 2;
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px 0;
    box-shadow: 0 0 15px 3px #323232;
    row-gap: 30px;
}

.admin__title {
    display: flex;
    font-size: 30px;
    font-weight: 500;
    justify-content: center;
    border-bottom: 3px solid;
    padding: 0 10px;
    margin-bottom: 20px;
    border-image: linear-gradient(213deg, #00DBDE 0%, #FC00FF 100%);
    border-image-slice: 1;
}

.tests__wrap,
.feedback__wrap {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tests__block,
.tests__header,
.feedback__block,
.feedback__header {
    width: 100%;
    border-bottom: 2px solid black;
    height: 40px;
    font-size: 20px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    text-decoration: none;
    color: black;
    transition: all .2s linear;
    column-gap: 5px;
}

.feedback__block {
    height: fit-content;
    align-items: flex-start;
}

.tests__block:hover {
    background-color: #CDC9C9;
    transition: all .2s linear;
}


.tests__header,
.feedback__header {
    background-color: #000;
    color: white;
}

.feedback__name {
    height: 40px;
    display: flex;
    align-items: center;
    width: 24%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.feedback__email {
    height: 40px;
    display: flex;
    align-items: center;
    width: 24%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 18px;
}

.delete__feedback {
    flex-grow: 1;
    min-width: 3%;
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.approve__feedback {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 3%;
    height: 100%;
}

.approve__feedback button {
    background-color: #0ec717;
    border: 1px solid rgba(6, 61, 16, 0.56);
    border-radius: 10px;
    padding: 5px 5px;
    margin-left: 5px;
    cursor: pointer;
    font-size: 14px;
}

/*.approve__feedback span {*/
/*    font-size: 15px;*/
/*}*/


.delete__feedback img {
    width: 30%;
}

.feedback__message {
    width: 40%;
    padding: 10px 20px 10px 0;
}

.test__name,
.feedback__header_message {
    width: 40%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.feedback__header_message {
    width: 40%;
}

.test__difficult {
    width: 20%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.pagination__wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.pagination__block {
    display: flex;
    align-items: center;
    font-size: 30px;
    column-gap: 10px;
}

.arrow__left,
.arrow__right {
    height: 25px;
    cursor: pointer;
}

.arrow__right {
    transform: rotate(180deg);
}

.search__user_form {
    width: 70%;
}

.approve__feedback div {
    position: relative;
    cursor: pointer;
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
    background-size: cover;
}

.feedback__hover {
    display: none;
}


.feedbackGrey {
    background-image: url("../../images/check-grey.svg");
}

.feedbackGrey:hover .feedback__hover {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    font-size: 12px;
    width: 150px;
    height: 50px;
    right: -110px;
}

.feedbackGrey:hover .feedback__hover span {
    font-size: 10px;
}

.feedbackDone {
    background-image: url("../../images/check-green.svg");
}

.feedbackDone:hover .feedback__hover {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 150px;
    height: 50px;
    right: -110px;
    font-size: 10px;
}


@media (max-width: 1200px) {
    .delete__feedback img {
        width: 40%;
    }
    .admin__wrap {
        width: 90%;
    }

    .tests__wrap {
        margin-top: 20px;
    }

    .test__name {
        width: 50%;
    }

    .test__difficult {
        width: 25%;
    }

    .approve__feedback span {
        font-size: 14px;
    }

    .feedback__email {
        font-size: 14px;
    }

    .approve__feedback div {
        height: 30px;
        width: 30px;
    }

    .feedbackDone:hover .feedback__hover {
        display: none;
    }

    .feedbackGrey:hover .feedback__hover {
        display: none;
    }
}

@media (max-width: 1024px) {
    .approve__feedback span {
        font-size: 12px;
    }

    .feedback__email {
        font-size: 12px;
    }

    .approve__feedback div {
        height: 27px;
        width: 27px;
    }

    .feedbackDone:hover .feedback__hover {
        display: none;
    }

    .feedbackGrey:hover .feedback__hover {
        display: none;
    }
}

@media (max-width: 920px) {
    .delete__feedback img {
        width: 50%;
    }
    .approve__feedback span {
        font-size: 10px;
    }

    .feedback__email {
        font-size: 10px;
    }

    .approve__feedback div {
        height: 24px;
        width: 24px;
    }

    .feedbackDone:hover .feedback__hover {
        display: none;
    }

    .feedbackGrey:hover .feedback__hover {
        display: none;
    }
}

@media (max-width: 767px) {
    .delete__feedback img {
        width: 60%;
    }
    .tests__wrap {
        margin-top: 10px;
    }

    .tests__block,
    .tests__header {
        font-size: 16px;
    }

    .feedback__block,
    .feedback__header {
        font-size: 12px;
    }

    .feedback__name {
        height: 30px;
    }

    .feedback__email {
        font-size: 8px;
    }

    .approve__feedback div {
        height: 18px;
        width: 18px;
    }

    .feedbackDone:hover .feedback__hover {
        display: none;
    }

    .feedbackGrey:hover .feedback__hover {
        display: none;
    }
}

@media (max-width: 620px) {
    .feedback__email {
        font-size: 8px;
    }
}


@media (max-width: 550px) {
    .tests__block,
    .tests__header {
        font-size: 14px;
    }

    .admin__title {
        font-size: 24px;
    }

    .feedback__email {
        font-size: 8px;
    }

    .approve__feedback div {
        height: 15px;
        width: 15px;
    }

    .feedbackDone:hover .feedback__hover {
        display: none;
    }

    .feedbackGrey:hover .feedback__hover {
        display: none;
    }
}

@media (max-width: 455px) {
    .admin__wrap,
    .tests__wrap {
        width: 95%;
    }

    .admin__title {
        font-size: 20px;
    }

    .tests__block,
    .tests__header,
    .feedback__header {
        font-size: 12px;
        padding: 0 10px;
        height: 30px;
    }

    .feedback__block {
        font-size: 8px;
        padding: 0 10px;
    }

    .feedback__email {
        font-size: 5px;
    }

    .approve__feedback div {
        height: 10px;
        width: 10px;
    }

    .feedbackDone:hover .feedback__hover {
        display: none;
    }

    .feedbackGrey:hover .feedback__hover {
        display: none;
    }
}


@media (max-width: 350px) {
    .test__name {
        width: 40%;
    }

    .test__difficult {
        width: 30%;
    }

    .approve__feedback div {
        height: 10px;
        width: 10px;
    }

    .feedbackDone:hover .feedback__hover {
        display: none;
    }

    .feedbackGrey:hover .feedback__hover {
        display: none;
    }
}
