.container {
    display: flex;
    min-height: calc(100vh - 80px);
    width: 100%;
    justify-content: center;
    position: relative;
    /*background: #f9f9f9;*/
}

.questions__container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 80px);
    width: 70%;
    border-right: 1px solid black;
    border-left: 1px solid black;
}

.top_ack__block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.ask__button {
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: white;
    font-weight: 500;
    background: black;
}

.ask__button:hover {
    box-shadow: 0 0 2px 1px #9f9e9e;
}

.questions__block {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 20px;
    row-gap: 20px;
}
