.notification__user {
    width: 30px;
    height: 30px;
    border-radius: 50px;
}
.notification__readed {
    padding: 10px 20px;
    background-color: white;
}

.notification__noReaded {
    padding: 10px 20px;
    background-color: #E2F0FE;
}

.notification__box {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.notification__created {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-size: 10px;
    color: #525151;
}


