.notification_readed {
    padding: 10px;
    background-color: white;
    border-bottom: 1px solid black;
}

.notification_noReaded {
    padding: 10px;
    background-color: gainsboro;
    border-bottom: 1px solid black;
}
