.notification_active {
    padding: 10px;
    background-color: white;
    border-bottom: 1px solid black;
}

.notification_notActive {
    padding: 10px;
    background-color: gainsboro;
    border-bottom: 1px solid black;
}
