.main__footer {
    width: 100%;
    height: 80px;
    background-color: #000;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

.privacy__link{
    text-decoration: none;
    color: white;
}



@media (max-width: 900px) {
    .main__footer {
        height: 70px;
    }
}

@media (max-width: 767px) {
    .main__footer {
        height: 60px;
        font-size: 14px;
        padding: 0 20px;
    }
}