.team__coding_main {
    min-height: calc(100vh - 80px);
    background: url("../../images/mainBg.png") no-repeat center / cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 100px;
}

.result__wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
}

.dropdown__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.dropdown__title {
    font-size: 18px;
    font-weight: 600;
    text-decoration: underline;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}

.dropdown__wrap {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dropdown__btn {
    cursor: pointer;
    height: 40px;
    width: 50%;
    background-color: #fff;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid black;
    border-radius: 10px;
    user-select: none;
}

.arrow__open,
.arrow__close {
    height: 20px;
    transform: rotate(-90deg);
}

.arrow__open {
    transform: rotate(90deg);
}

.drop__elements_wrap {
    position: relative;
    top: 0;
    left: 0;
    background: #fff;
    border-radius: 10px;
    border: 2px solid black;
    padding-top: 10px;
    width: 50%;
    z-index: -1;
    height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.dropdown__element {
    padding: 10px;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dropdown__element a {
    text-decoration: none;
    color: black;
}

.dropdown__element:hover {
    background-color: #F1F1F1;
}

.dropdown__element:last-child {
    border-bottom: none
}

.join__room_form {
    position: relative;
    width: 50%;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    column-gap: 10px;
}

.join__room_input {
    width: 80%;
    border: 2px solid black;
    font-size: 18px;
    padding: 10px;
    border-radius: 6px;
}

.join__room_btn {
    background: darkgray;
    cursor: pointer;
    font-weight: bold;
    padding: 0 10px;
    border-radius: 6px;
    word-break: break-word;
}

@media (max-width: 1200px) {
    .dropdown__btn,
    .drop__elements_wrap,
    .join__room_form {
        width: 70%;
    }

    .join__room_input {
        width: 100%;
    }
}

@media (max-width: 900px) {
    .dropdown__btn,
    .drop__elements_wrap,
    .join__room_form {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .team__coding_main {
        padding: 0 30px;
    }

    .join__room_form {
        flex-direction: column;
    }

    .join__room_btn {
        margin: 20px 0;
        height: 40px;
    }
}


