.user__page {
    display: flex;
    justify-content: center;
    position: relative;
}

.user__wrap {
    min-height: calc(100vh - 80px);
    width: 768px;
    z-index: 2;
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px 0;
    box-shadow: 0 0 15px 3px #323232;
    row-gap: 15px;
}

.user__avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.user__username {
    font-size: 24px;
}

.user__email {
    font-size: 14px;
}

.buttons__wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 40px;
    row-gap: 20px;
    flex-wrap: wrap;
}

.user__rating {
    font-size: 14px;
}

.user__rank_img {
    height: 30px;
}

.results__wrap {
    font-size: 14px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.results__block,
.results__header {
    width: 100%;
    color: black;
    text-decoration: none;
    height: 30px;
    font-size: 14px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid black;
    overflow: hidden;
    padding: 0 20px;
}

.pagination__block {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
    font-size: 20px;
    margin-top: 10px;
}

.arrow__left,
.arrow__right {
    height: 15px;
    cursor: pointer;
}

.pagination__title {
    margin-top: 20px;
    font-size: 28px;
}

.arrow__right {
    transform: rotate(-180deg);
}

.results__header {
    background-color: #000;
    color: white;
}

.results__block > .result__testName {
    color: black;
}

.fill {
    min-width: 75px;
}

.result__testName {
    text-decoration: none;
    width: 70%;
}


.results__result {
    width: 30%;
}

.user__data_block {
    width: 80%;
    overflow: hidden;
    background-color: #000;
    color: white;
    display: flex;
    align-items: center;
    font-size: 14px;
    padding: 0 20px;
    height: 30px;
}

.user__db_content {
    width: 50%;
    display: flex;
    align-items: center;
    row-gap: 10px;

}

.wallet {
    font-size: 12px;
}

.update__username_form {
    width: 80%;
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
}

.update__username__input {
    flex-grow: 1;
    height: 30px;
    padding: 0 15px;
    font-size: 14px;
}

.update__username__button {
    height: 30px;
    padding: 0 10px;
    font-size: 14px;
    background-color: #000;
    border: none;
    cursor: pointer;
    color: white;
}

.approve__time {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    font-size: 14px;
    border-radius: 10px;
    background-color: crimson;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

.error {
    color: crimson;
    font-size: 14px;
}

.hiring__wrap {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.hiring__check {
    width: 20px;
    min-width: 20px;
    height: 20px;
    border-radius: 3px;
    border: 1px solid #FFFFFF;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.hiring__btn,
.hiring__btn_active {
    height: 20px;
    padding: 0 10px;
    background-color: #fff;
    border-radius: 2px;
    border: none;
    cursor: pointer;
}

.hiring__btn {
    cursor: initial;
    background-color: #8d8d8d;
}

.linked__btn {
    min-width: 115px;
    width: fit-content;
    height: 20px;
    display: flex;
    padding: 0 5px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #0073B1;
    font-size: 14px;
    font-weight: 600;
    color: #FFFFFF;
    cursor: pointer;
    text-decoration: none;
    border-radius: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.github__btn {
    min-width: 115px;
    width: fit-content;
    height: 20px;
    display: flex;
    padding: 0 5px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    font-size: 14px;
    font-weight: 600;
    color: #24292F;
    cursor: pointer;
    text-decoration: none;
    border-radius: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.rank__wrap {
    display: flex;
    align-items: center;
    column-gap: 10px;
    color: #FFFFFF;
    text-decoration: none;
}

.show__result_btn {
    border-radius: 3px;
    width: 75px;
    background-color: #000000;
    color: white;
    border: none;
    padding: 3px;
    position: relative;
    cursor: pointer;
    z-index: 10;
}

.coin__img {
    height: 20px;
    width: 20px;
    margin-left: 10px;
}

.modal__container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.9s linear;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
}

.modal__block {
    position: fixed;
    right: 50px;
    top: 20px;
    padding: 30px 10px;
    background-color: #FFFFFF;
    font-size: 16px;
    box-shadow: 0 0 12px rgba(255, 253, 253, 0.35);
    border-radius: 20px;
}

.update__username__input_cv {
    font-size: 14px;
    width: 90%;
}

.update__username_form input[type="file"]{
    border-left: none;
    height: 100%;
}
.update__username_form input[type="file"]::file-selector-button {
    background: lightgrey;
    height: 30px;
    width: 25%;
    border: 1px solid black;
    font-size: 14px;
    cursor: pointer;
}

.update__username__button_cv {
    height: 100%;
    padding: 0 10px;
    font-size: 14px;
    background-color: #000;
    border: none;
    cursor: pointer;
    color: white;
}

.update__username__button_cv:active {
    background-color: lightgray;
}

@media (max-width: 767px) {
    .user__wrap {
        width: 90%;
    }

    .results__block,
    .results__header,
    .user__data_block,
    .update__username__input,
    .update__username__button {
        font-size: 14px;
    }
}

@media (max-width: 650px) {
    .results__block,
    .results__header,
    .user__data_block,
    .update__username__input,
    .update__username__button {
        font-size: 14px;
    }

    .results__wrap,
    .user__data_block,
    .update__username_form {
        width: 90%;
    }

    .wallet {
        font-size: 8px;
    }

    .user__db_content {
        width: 45%;
    }

    .update__username_cv {
        width: 78%;
    }

    .update__username__input_cv::-webkit-file-upload-button {
        width: 35%;
        font-size: 12px;
    }

    .update__username__button_cv {
        font-size: 12px;
        width: 30%;
    }
}

@media (max-width: 500px) {
    .results__block,
    .results__header,
    .user__data_block {
        font-size: 12px;
        padding: 0 10px;
    }

    .results__wrap,
    .user__data_block,
    .update__username_form {
        width: 95%;
    }

    .user__db_content {
        width: 35%;
    }

    .user__db_content:nth-child(2n) {
        width: 65px;
    }

    .wallet {
        font-size: 10px;
    }

    .update__username_cv {
        width: 73%;
    }

    .update__username__input_cv::-webkit-file-upload-button {
        width: 35%;
        font-size: 10px;
    }

    .update__username__button_cv {
        font-size: 10px;
        width: 40%;
        padding: 0;
    }
}

@media (max-width: 400px) {
    .update__username__input {
        width: 70%;
    }

    .hiring__btn,
    .hiring__btn_active {
        padding: 0 5px;
        font-size: 12px;
    }

    .hiring__wrap {
        column-gap: 10px;
    }

    .linked__btn,
    .github__btn {
        font-size: 12px;
        min-width: 80px;
    }

    .wallet {
        font-size: 8px;
    }

    .update__username__button {
        font-size: 12px;
    }

    .update__username_cv {
        width: 67%;
    }

    .update__username__input_cv::-webkit-file-upload-button {
        width: 30%;
        padding: 0;
        text-align: center;
    }

    .update__username__input,
    .update__username__input_cv {
        font-size: 12px;
    }

    .update__username__input {
        padding: 0;
        text-align: center;
    }

}
