.exercise__block {
    width: 100%;
    box-shadow: 5px 5px 15px 5px rgba(175, 175, 175, 0.56);
    background-color: #fff;
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    font-size: 16px;
}

.variants__wrap {
    padding: 10px 0;
    font-size: 14px;
    display: flex;
    flex-direction: column;
}

.exercise__description {
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 15px;
    border-bottom: 2px solid #CDC9C9;
    white-space: pre-wrap;
}

.chosen__variant,
.simple__variant,
.correct__chosen_answer,
.incorrect__chosen_answer,
.correct__answer {
    padding: 10px;
    color: #323232;
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.chosen__variant {
    /*text-decoration: underline;*/
}

.correct__chosen_answer {
    color: limegreen;
    /*text-decoration: underline;*/
}

.correct__answer {
    color: limegreen;
}

.incorrect__chosen_answer {
    color: crimson;
}

.check__arrow_block {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    margin-right: 10px;
    font-size: 26px;
    border: 2px solid black;
}

.variant__text{
    width: 95%;
}


@media (max-width: 767px) {
    .check__arrow_block{
        width: 25px;
        height: 25px;
        font-size: 20px;
        border-width: 1px;
    }

    .exercise__description{
        font-size: 20px;
    }

    .exercise__block {
        padding: 10px;
        font-size: 18px;
    }

    .variants__wrap {
        padding: 0;
        font-size: 14px;
    }
}

@media (max-width: 500px) {
    .check__arrow_block{
        width: 20px;
        height: 20px;
        font-size: 16px;
    }

    .exercise__description{
        font-size: 16px;
    }

    .exercise__block {
        padding: 10px;
        font-size: 14px;
    }

    .variants__wrap {
        font-size: 10px;
    }
}