.approvedMentor__block {
    width: 90%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding: 0 15px;
    font-size: 14px;
}

.approvedMentor__block:hover {
    background-color: #e5e3e3;
    cursor: pointer;
}
