.testing__animation {
    width: 50%;
}

.testing__img {
    width: 50%;
    padding-right: 50px;
}

/*.testing__img_active {*/
/*    !*width: 100%;*!*/
/*    !*padding-right: 50px;*!*/
/*    position: relative;*/
/*    animation: mymove 2s infinite;*/
/*    animation-timing-function: ease-in;*/
/*    animation-iteration-count: 1;*/
/*    animation-fill-mode: forwards;*/
/*}*/

@keyframes mymove {
    from {left: 0;}
    to {left: 30px;}
}

@media (max-width: 992px) {
    .testing__img {
        padding-right: 30px;
    }
}

@media (max-width: 767px) {
    .testing__img {
        padding-right: 20px;
    }
}

@media (max-width: 576px) {
    .testing__img {
        padding-right: 10px;
    }
}
