.testing__animation {
    width: 50%;
    cursor: pointer;
}

.testing__img {
    width: 100%;
}

.testing__img_active {
    width: 100%;
    animation: mymove 2s infinite;
    animation-iteration-count: 1;
    animation-duration: 2s;
}

@keyframes mymove {
    0% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1.0);
    }
}
